<% include template/body1 %>

<% include template/header %>
<div class="col-md-8 col-md-offset-2">
		<div class="checkout_info_price">
		  <div class="headings">
			<h5>Đăng ký</h5><hr>
		  </div>
		  <div class="content">
			<div class="form-horizontal form-validate" id="UserAccuracyForm" >					<div class="form-group">
			  <div class="col-sm-6 col-sm-offset-3">
															<p style="word-break: break-word">Chúng tôi đã gửi mã xác nhận đến tin nhắn của số điện thoại mà bạn đăng ký</p>
			  </div>
			</div>
			<div class="form-group">
			  <label class="col-sm-3 control-label">Mã xác nhận:</label>
			  <div class="col-sm-6">
				<div class="input number"><input name="code" class="Confirm-number" placeholder="Xin vui lòng nhập mã xác nhận" autofocus="autofocus" type="number" id="UserCodeVerify" required="true"/><label id="error-code" style="color: red; "></label></div>								</div>
			  </div>
			  <div class="form-group hidden-xs" style="margin-top: 50px;">
				<div class="col-sm-6 col-sm-offset-3">
				  <button id="code_verify" class="btn btn-default text-right btn-verify" data-blocked="0" >Xác minh</button>								</div>
			  </div>
			</div>							</div>
			</div>
		  </div>
        <% include template/footer %>
<% include template/body2 %>
