
<% include template/body1 %>
<% include template/header %>
<div class="checkout_info_price">
  <div class="headings">
    <h5>Đăng nhập </h5>
  </div><hr>
  <div class="content">
    <form action="/login" encoding="" class="form-horizontal form-validate" id="UserRegisterForm" method="post" onsubmit="return checkPhoneNumber()"><div style="display:none;"><input type="hidden" name="_method" value="POST"/></div>						<div class="form-group">
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        <div class="input number required"><label class="col-sm-3 control-label">Số điện thoại:</label><input id="input" name="username" class="form-control" placeholder="Xin vui lòng nhập số điện thoại" autofocus="autofocus" value="" data-rule-required="true" data-msg-required="Vui lòng nhập số điện thoại của bạn" data-rule-number="true" data-msg-number="Xin vui lòng nhập số" data-rule-minlength="10" data-msg-minlength="Số điện thoại từ 10 - 11 ký tự" data-rule-maxlength="11" data-msg-maxlength="Số điện thoại từ 10 - 11 ký tự" type="text"  required="required" aria-required="true" aria-invalid="true" onkeyup="checkPhone()"></div>	
      								</div>
        </div>
        <div id="phone-error"> </div>
        <div class="form-group">
          <div class="col-sm-6">
            <div class="input password required">  <label class="col-sm-3 control-label">Mật khẩu:</label><input name="password" class="form-control" maxlength="30" placeholder="Xin vui lòng nhập mật khẩu" data-rule-required="true" data-msg-required="Vui lòng nhập mật khẩu" data-rule-lettersonly="true" data-msg-lettersonly="Vui lòng chỉ nhập chữ và số" data-rule-minlength="6" data-msg-minlength="Mật khẩu tối thiểu 6 ký tự" data-rule-maxlength="30" data-msg-maxlength="Mật khẩu tối đa 30 ký tự" type="password" id="password" required="required" onkeyup ="checkPass()"/></div>										</div>
          </div>
          <div id="error"> </div>
          <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
              <div class="">
                <div class="g-recaptcha" data-theme="light" data-sitekey="6LdOcCkTAAAAAIs5kfNrv0bmM7CxHEnHeoI_X1PH" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
              </div>
            </div>
          </div>
          <a class="forgotPS" href="/forgetPassword">Quên mật khẩu</a>
          <div class="form-group hidden-xs">
            <div  class="col-sm-6 col-sm-offset-3">
              <button id ="btdn" class="btn btn-default text-right" type="submit">Đăng nhập</button>										</div>
          </div>
          <div class="hidden-md hidden-lg hidden-sm select-address">
          	</form>									</div>
        </div>
      </div>
<% include template/footer %>
<% include template/body2 %>
<script>
  // check password
  var ascII = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890";
  function checkPass(){
    if(document.getElementById("password").value.length == 0){
      document.getElementById("error").innerHTML = "Bạn chưa nhập mật khẩu!";
      document.getElementById("error").style.color = "red";
    }
    if(document.getElementById("password").value.length < 6){
      document.getElementById("error").innerHTML = "Mật khẩu phải lớn hơn 6 kí tự!";
      document.getElementById("error").style.color = "red";
    }else{
      document.getElementById("error").innerHTML = "";
      for(var i=0; i<document.getElementById("password").value.length; i++){
        var temp = document.getElementById("password").value.substring(i,i+1);
        if(ascII.indexOf(temp) == -1){
          document.getElementById("error").innerHTML = "Mật khẩu chỉ được chứa chữ cái viết hoa, viết thường hoặc số!";
      document.getElementById("error").style.color = "red";
        }
      }
    }
  }

  //check phonenumber
  var number="0123456789";
  function checkPhone(){
    if(document.getElementById("input").value.length != 10 &&  document.getElementById("input").value.length != 11){
      document.getElementById("phone-error").innerHTML = "Số điện thoại chỉ được chứa 10 hoặc 11 chữ số!";
      document.getElementById("phone-error").style.color = "red";
    }else{
      document.getElementById("phone-error").innerHTML = "";
      for(var i=0; i<document.getElementById("input").value.length; i++){
        var temp = document.getElementById("input").value.substring(i,i+1);
        if(number.indexOf(temp) == -1){
          document.getElementById("phone-error").innerHTML = "Số điện thoại chỉ được chứa chữ số!";
      document.getElementById("phone-error").style.color = "red";
        }
      }
    }
  }

</script>