<% include template/body1 %>
<% include template/header %>
<div class="checkout_info_price">
  <div class="headings">
    <h5>Thay đổi mật khẩu </h5>
  </div><hr><br><br><br>
  <label id="err-fg" style="color: red"></label>
  <div class="content1">
   <div style="display:none;"><input type="hidden" name="_method" value="POST"/></div>						<div class="form-group">
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        <div class="input number required"><label class="col-sm-3 control-label">Mã xác nhận:</label><input id="input" name="codeReset" class="form-control" placeholder="Xin vui lòng nhập mã xác nhận" autofocus="autofocus" value="" data-rule-required="true" data-msg-required="Vui lòng nhập số điện thoại của bạn" data-rule-number="true" data-msg-number="Xin vui lòng nhập số" data-rule-minlength="10" data-msg-minlength="Số điện thoại từ 10 - 11 ký tự" data-rule-maxlength="11" data-msg-maxlength="Số điện thoại từ 10 - 11 ký tự" type="number"  required="required" aria-required="true" aria-invalid="true"></div>	
      								</div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <div class="input password required">  <label class="col-sm-3 control-label">Mật khẩu:</label><input name="resetPassword" class="form-control" maxlength="30" placeholder="Xin vui lòng nhập mật khẩu" data-rule-required="true" data-msg-required="Vui lòng nhập mật khẩu" data-rule-lettersonly="true" data-msg-lettersonly="Vui lòng chỉ nhập chữ và số" data-rule-minlength="6" data-msg-minlength="Mật khẩu tối thiểu 6 ký tự" data-rule-maxlength="30" data-msg-maxlength="Mật khẩu tối đa 30 ký tự" type="password" id="password" required="required"/></div>										</div>
          </div>
          <div class="form-group">
            <div class="col-sm-6">
              <div class="input password required">  <label class="col-sm-3 control-label">Xác nhận mật khẩu:</label><input name="resetPassword2" class="form-control" maxlength="30" placeholder="Xin vui lòng nhập mật khẩu" data-rule-required="true" data-msg-required="Vui lòng nhập mật khẩu" data-rule-lettersonly="true" data-msg-lettersonly="Vui lòng chỉ nhập chữ và số" data-rule-minlength="6" data-msg-minlength="Mật khẩu tối thiểu 6 ký tự" data-rule-maxlength="30" data-msg-maxlength="Mật khẩu tối đa 30 ký tự" type="password" id="password2" required="required"/></div>										</div>
            </div>
          <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
              <div class="">
                <div class="g-recaptcha" data-theme="light" data-sitekey="6LdOcCkTAAAAAIs5kfNrv0bmM7CxHEnHeoI_X1PH" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
              </div>
            </div>
          </div>
          <div class="form-group hidden-xs">
            <div  class="col-sm-6 col-sm-offset-3">
              <button class="btdk" id ="btre" class="btn btn-default text-right">Xác nhận</button>										</div>
          </div>
          <div class="hidden-md hidden-lg hidden-sm select-address">
          						</div>
        </div>
      </div>
<% include template/footer %>
<% include template/body2 %>