.container{
    margin-top: 50px;
}
.col-sm-4{
    margin-left: 0px;
    padding-right: 3em;
    overflow: auto;
}
.col-sm-6 span{
    color: #f16e8e;
}
.title-sp input{
    float: right;
}
.title-sp{
    margin-top: 10px;
    background-color: rgb(136, 146, 146);
    border-radius: 5px;
    line-height: 50px;
    padding-left:2em;
    background-color:#f16e8e;
    width: 96.5%;
    height: 50px;
    font-size: 16px;
    
}
.title-sp label{
    padding-left: 50px
}
.title-sp #tab1{
   color: aqua
}
.option{
    margin-top: 50px;
    background-color: #f1f1f1;
    margin-left: 0px;
    width: 90%;
    display: block;
    text-align: left;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif
}
.option li{
    list-style-type: none;
    display: inline-block;
    width: 200px;
    line-height: 50px;
    font-size: 16px;
}
.option li:hover{
color: #f16e8e;
}
.option-shop{
    margin-top: 50px;
    background-color: #f1f1f1;
    margin-left: 0px;
    width: 90%;
    display: block;
    text-align: left;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif
}
.option-shop li{
    list-style-type: none;
    display: inline-block;
    width: 720px;
    line-height: 50px;
    font-size: 16px;
}
.option-shop li:hover{
color: #f16e8e;
}
#Comment{
    width: 500px;
    height: 50px;
    margin-bottom:40px;
}
#binhluan{
    margin-left: 150px;
}
#mota{
    margin-left: 0px;
    margin-right: 200px;
    border: none;
}
#showcomment{
    border: none;
    width: 500px;
    height: 200px;
    overflow-wrap: break-word;
}
#send{
    padding:5px;
    position: relative;
    top:-15px;
    left:-50px;
    border-radius:7px;
    background:#f16e8e;
    padding:5px;
}

#gio_hang{
    position: relative;
    top:-0.7em;
    left:0.22em;
    padding:0.5em 0.5em 0.3em 0.5em;
    border: 1px solid #000;
    border-radius:3px;
}
#follow{
    top: -1em;
}
#san-pham{
    margin-left: 5px;
}
.main-1{
    margin-top: 40px;
    width: 100%;
    height: 500px;;
}
table {
    margin-top: 2em;
}
table tr th {
    width: 250px;
   padding-right : 30px;
   padding-left : 30px;
   border-spacing: 20px
}
/* #pre-2{
    margin-left: 90%;
} */ 
.ten{
    line-height: 20px;
    height: 40px;
    text-align: center
}
.ten:hover{
    color: #f16e8e
}
.gia{
    font-size: 22px;
    font-weight: 700;
    color: #502625;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#left{
    width: 35%
}
#right{
    width: 65%;
    text-align: left;
    margin-left: 0.5em
}
#right .col-sm-6 {
   line-height: 30px;
}
#theodoi{
    bottom: -10px
}
.cuon-1{
    width: 100%;
  /*  height: 500px;*/
    overflow-y: auto;
    
}

.maininfo{
margin-left: 20em
}
.maininfo1{
    margin-left: 16em
    }
.maininfo2{
        margin-left: 14em
        }
    

/* #modifier-user{
   border-radius:5px;
    padding:5px;
    text-align:center;
}
#modifier-user a{
    text-decoration:none;
    color:#000;
} */
#update-user{
    padding:5px;
    border-radius: 5px;
    float:right;
}	
table,td,th{
    border-collapse: collapse;
} 
/* list-product*/
.table-listproduct{
    border-collapse: collapse;
    padding:10px;
    border-spacing: 20px
}
