* {
    box-sizing: border-box;
}
 body {
  margin: 0;
  background-color: #fff;
  padding:0em 0em;
  font-size:1em;
}
 .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
 .topnav {
    overflow: hidden;
    background-color:rgb(194, 20, 20);
}
 .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 .topnav a:hover {
    background-color: #ddd;
    color: black;
}
 .column {
    float: left;
    height : 1500px;
    padding:20px;
    background-color: black;
}
 .column.side {
    width: 15%;
    height: 1500x;
    padding: 0;
    background-color:#fff;
}
.column.side ul{
  margin: 0;
  width: 100%;
}
.column.middle {
    width: 70%;
    height:1500px;
    padding:20px;
    background-color: white;
}
 .row:after {
    content: "";
    display: table;
    clear: both;
}
 @media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
 .footer {
    background-color: blue;
    padding: 10px;
    text-align: center;
}
.add{
    padding-top:2em;
    height: 940px;
    width: 70%;
    padding-left:200px;
    margin:auto 0px;
   
}
.custom-file-input{
    border:1px solid #d3d3d3;
    padding:5px;
    height:40px;

}
.btn-primary{
  padding:5px;
  background-color:#e91111;
  margin-left:200px;
  border:1px solid #d3d3d3;
  border-radius:4px;
  margin-top:10px;
  color:#fff;
}
#themsanpham{
  color: #e91111;
  font-size: 22px;
}
#taianh1{
  color: #e91111;
  font-size: 22px;
}
 .update{
    background-color: rgb(253, 248, 241);
    height: 1600px;
    width: 50%;
    float: left;
}
.add input{
    background-color:#fff;
    /* width: 400px; */
    border:  none;
    /* padding: 10px;
    margin: 25px;
    height: 150px;
    border-radius: 5px; */
    
}
#product-category-name{
  opacity:0.5;
  margin-left:100px;
  font-size:1em;
}

#product-category:hover{
  cursor:pointer;
}
#product-dialog{
  border:1px solid gray;
  width:300px;
  margin-top:-340px;
}
.fa-share{
  float:right;
}
.fa-reply{
  float:left;
}
#dialog-detail1:hover{
  cursor:pointer;
}
#dialog-detail2:hover{
  cursor:pointer;
}
#dialog-detail3:hover{
  cursor:pointer;
}
#dialog-detail4:hover{
  cursor:pointer;
}
#dialog-detail5:hover{
  cursor:pointer;
}
/*state */
#state-dialog{
  border:1px solid gray;
  margin-top:-310px;
  margin-left:580px;
}
#product-category-state{
  opacity:0.5;
  margin-left:100px;
  font-size:1em;
}
#product-state:hover{
  cursor:pointer;
}
.state:hover{
  cursor:pointer;
}
/* product-label */
#product-category-label{
  opacity:0.5;
  margin-left:100px;
  font-size:1em;
}
#product-label:hover{
  cursor:pointer;
}
#label-dialog{
    border:1px solid gray;
    margin-top:-265px;
}
/* product-weight */
#product-category-weight{
  opacity:0.5;
  margin-left:94px;
  font-size:1em;
}
#product-weight:hover{
  cursor:pointer;
}
#weight-dialog{
    border:1px solid gray;
    margin-top:-240px;
}
/* place to sell product*/
#product-place-sell{
 margin-top:0px;
  margin-left:100px;
  font-size:1em;
  width:250px;
  height:50px;
  border:1px solid gray;

}
#product-place{
  position: relative;
  top:-25px;
}
#product-price-input{
    border:1px solid gray;
    margin-left:156px;
    font-size:1em;
    width:250px;
    padding:3px 0px;
    position: relative;
    top:-23px;
}
.wrapper-image{
  padding-left:200px;
}
#textinput {
    background-color: white;
    width: 310px;
    border:  1px solid rgba(162, 173, 171, 0.63);
    height: 50px;
    float: right;
    margin: 0;
    border-radius: 5px;
    
 }
#name {
   float: left ;
   margin: 0;
   width: 120px;
   text-align: left;
   border:  0px solid white;
   background-color: white;
   height: 50px;
   color: black;
 }
#description{
   float: left ;
   margin: 0px;
   width: 120px;
   text-align: left;
   border:  0px solid white;
   height: 50px;
   background-color:white;
 }
#textarea{
    margin: 0px;
    background-color:white;
    width: 310px;
    border:  1px solid rgba(162, 173, 171, 0.63);
    height: 100px;
    float: right; 
    border-radius: 5px;   
 }/* button*/
.switch {
  margin-left: 60px;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
 .switch input {display:none;}
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
 .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
 input:checked + .slider {
  background-color: red;
}
 input:focus + .slider {
  box-shadow: 0 0 1px red;
}
 input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
 .slider.round {
  border-radius: 34px;
}
 .slider.round:before {
  border-radius: 50%;
}
#switch2{
    margin-left: 40px;
 }
 #switch{
   margin-left:80px;
 }

 #switch1{
   margin-left:90px;
 }
/* combobox*/
/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
    margin-left: 120px;
    margin-bottom: 70px;
    width: 100x;
    border-radius: 5px;
    
    
   }
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  .select-selected {
    background-color: rgb(209, 15, 15);
    border-radius: 5px;
  }
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color:rgb(209, 15, 15);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  #list{
    float: left ;
    margin: 0;
    width: 100px;
    text-align: left;
    border:  0px solid white;
    background-color: white;
    height: 35px;
  }
 #nhanhieu{
  float: left ;
  margin: 0;
  width: 100px;
  text-align: left;
  border:  0px solid white;
  background-color: white;
  height: 35px;
 }
 #khoiluong{
  float: left ;
  margin: 0;
  width: 100px;
  text-align: left;
  border:  0px solid white;
  background-color: white;
  height: 35px;
 }
 #donggoi{
  float: left ;
  margin: 0;
  width: 100px;
  text-align: left;
  border:  0px solid white;
  background-color: white;
  height: 35px;
 }
 #trangthai{
  float: left ;
  margin: 0;
  width: 100px;
  text-align: left;
  border:  0px solid white;
  background-color:white;
  height: 35px; 
 }
 #giatext{
  background-color: white;
  width: 310px;
  border:  1px solid lightgray;
  height: 50px;
  float: right;
  margin-left: 90px;  
  margin-top: 10px;
  margin-right: 0px;
 }
 #noiban{
   text-align:left;
 }
 #noibantext{
  background-color: white;
  width: 310px;
  border:  1px solid lightgray;
  height: 50px;
  float: right;
  margin-left: 65px;  
  margin-top: 10px;
  margin-right: 0px;
 }
 div .button {
  width: 80%;
  height: 25px;
  background-color: rgb(189, 33, 33); 
  color: rgb(243, 232, 232); 
  border: 1px solid #bd1d12;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 13px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}
  div .button3 {
    width:290px;
    margin:auto;
}
div .button2 {
  margin-left:110px;
  width:290px;
 
}

 .button3:hover {
  background-color: #f44336;
  color: white;
}
#quaylai{
  margin-left: 50px;
 
}
#taianh{
  background-color:#D3D3D3;
  width: 400px;
  border:  1px solid lightgray;
  height: 150px;
  float:left;
  margin-left: 30px;  
  margin-top: 10px;
  margin-right: 20px;  
  border-radius: 5px; 
}
/*menuleft*/
ul {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
#sidebar{
 
  width: 200px;
  height: 100%;
  background-color: #fff;;
  width: -200px;
 }
 #sidebar ul li{
 color: #ebd5d5ef;
 list-style : none;
 padding: 15px 10px;
 border-bottom: 1px solid rgba(100,100,100,0.3);
}
 #sidebar .toggle-btn{
  position: absolute;
  left: 190px;
  top: 130px;
}
#sidebar .toggle-btn span{
  display:block;
  width: 25px;
  height: 3px;
  background-color:#f1f1f1;
  margin: 3px 0px;
} 
.row{
  margin-top:-5px;
}

/* image */
.custom-file input{
 width:100px;
 height:100px;
 border:1px solid gray;
 background-image: url(../imagei/camera.png);
 font-size:0px;
}
.mb-3{

}